@import '~bootstrap/scss/bootstrap';


body{
    background-color: #FFBD59;
    font-family: 'Roboto', sans-serif;
}

//header_nav//---------
header, #sidebarMenu{
    background-color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
    height: 80px;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -75px;
}

#sidebarMenu{
    height: 100% ;
    position: fixed;
    top: 3px;
    bottom: 0;
}

.text-dark-red, .nav-link{
    color: #A43C28;
}
.fa-solid{
    color:transparent;
}
.sidebar-sticky .nav-item:hover{
 background-color:#FFBD59;
    font-family: 'League Spartan', sans-serif;
    padding-top: 0.5rem;
}

.nav-link:hover{
    color: #8EA61D;
    padding-left: 50px;
    transition: 0.5s;
}
.nav-link:hover .fa-solid{
color:#8EA61D;
transition: 0.5s;
}
//end_header_nav//---------

//buttons//---------

.btn_add{
    background-color: #f7af42;
    border: 1px solid #f7af42;
    color: #F6EDDA;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 18%)
}

.btn_edit{
    background-color: #8EA61D;
    color: #F6EDDA;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 18%)
}

.btn_delete{
    background-color:#A43C28;
    color: #F6EDDA;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 18%)
}
.btn_add:hover{
    background-color: #FFBD59;
    border: 1px solid #FFBD59;
    color: #F6EDDA;
 
 }
.btn-secondary:hover{
   background-color: #85898d;
   border: 1px solid #85898d;
   color: #F6EDDA;

}
 .btn_edit:hover{
    background-color: #a6c22a;
    color: #F6EDDA;
 }
 .btn_delete:hover{
    background-color: #b44933;
    color: #F6EDDA;
 }
.reg{
       width: fit-content; 
}
.reg:hover{
    text-decoration: underline;
}

//end_buttons//---------

.text_green{
    color: #8EA61D;
}

.text_dark_red{
    color: #b44933;
}

.background{
    background-image: url(../../../back_office_deliveboo/public/img/deliveroo-pattern.png);
height: calc( 100vh - 80px );
}

.background-log-reg{

    background-image: url(../../../back_office_deliveboo/public/img/table-food.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc( 100vh - 80px );
}

//form//---------

.form-check-input:checked {
    background-color: #f7af42;
    border-color: #f7af42;
}
.background-log-reg .form-control{
    background-color: #F6EDDA;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 0.8rem 1.4rem;
}
//end_form//---------




