$primary: #FFBD59;
$darker_primary: #f7af42;
$white: #FFFFFF;
$dark: #000000;
$green: #8EA61D;
$light_green: #a6c22a;
$dark_red: #A43C28;
$light_red: #b44933;
$light_grey: #F6EDDA;
$lighter_grey: #FFFAEF;
$grey: #85898d;